<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count ="4">
<!--    <test name="KoelTest" preserve-order="false">-->
<!--        <parameter name="BaseURL" value="https://qa.koel.app/"/>-->
    <test name="CucumberTests" preserve-order="false">

        <classes>

             <class name="CucumberRunner.CucumberRunner"/>
        </classes>
    </test>
</suite>